#backend-designer {
    background: #fff;
    padding: 30px 50px;
}
#backend-designer h3 {
    border-bottom: 1px solid #eee;
    margin-top: 40px;
    padding-bottom: 10px;
}
#backend-designer label.description {
    margin-left: 50px;
    color: #666;
}
#backend-designer .bd-logo {
    padding-bottom: 2px;
    margin-top: 0;
}
#backend-designer .bd-logo img {
    max-width: 100%;
    max-height: auto;
}
#backend-designer input {
    vertical-align: top;
}
#backend-designer input.ddbd_options_checkbox {
    margin-top: 3px;
}